<link rel="stylesheet" href="/assets/css/style.css">
<script  src="/assets/js/uikit.scrollspy.js"></script>
<div class="fullwidth clearfix" style="padding: 30px 30px;    background: black;">
        <div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
            
            <p><span class="fa fa-clock-o"></span></p>
            <h1><span>Contenido </span><br />en <br /><span>mantenimiento</span></h1>
          
            
        </div>
</div>

<div class="arrow-separator arrow-white"></div>
<div class="fullwidth colour1 clearfix">
    <p style="color:white; font-size:25px;line-height: 40px;">Hola Breaknamita!, esta advertencia significa que los links de los reproductores para ver esta película o serie están caídas y próximamente estarán en funcionamiento nuevamente. Lamentamos las molestias ocasionadas.  </p>
        <br>
       <div align="center"><a style="    padding: 15px;background: #cb134a;font-weight: bold;color: white;" href="{{ site.baseurl }}/">Ir al inicio</a></div> 
 </div>

